In [24]:
import numpy as np
import pandas as pd
from Bio.Phylo import BaseTree

In [31]:
dist_matrix = np.array([[  0,   1,   2,   3, 1.5],
                        [  1,   0, 2.3, 4.1,   1],
                        [  2, 2.3,   0,   3,   5],
                        [  3, 4.1,   3,   0,   4],
                        [1.5,   1,   5,   4,   0]])
dist_matrix

array([[ 0. ,  1. ,  2. ,  3. ,  1.5],
       [ 1. ,  0. ,  2.3,  4.1,  1. ],
       [ 2. ,  2.3,  0. ,  3. ,  5. ],
       [ 3. ,  4.1,  3. ,  0. ,  4. ],
       [ 1.5,  1. ,  5. ,  4. ,  0. ]])

In [32]:
dist_matrix = pd.DataFrame(dist_matrix, columns=[0, 1, 2, 3, 42], index=[0, 1, 2, 3, 42])
dist_matrix

     0    1    2    3    42
0   0.0  1.0  2.0  3.0  1.5
1   1.0  0.0  2.3  4.1  1.0
2   2.0  2.3  0.0  3.0  5.0
3   3.0  4.1  3.0  0.0  4.0
42  1.5  1.0  5.0  4.0  0.0

In [38]:
n = dist_matrix.shape[0]
q_matrix = np.zeros((n, n))
for ii, i in enumerate(dist_matrix.columns):
    for jj, j in enumerate(dist_matrix.index):
        if i == j:
            q_matrix[ii, jj] = 0
        else:
            q_matrix[ii, jj] = ((n - 2) * dist_matrix[i][j]
                              -dist_matrix[i].sum()
                              -dist_matrix[j].sum())

q_matrix

array([[  0. , -12.9, -13.8, -12.6, -14.5],
       [-12.9,   0. , -13.8, -10.2, -16.9],
       [-13.8, -13.8,   0. , -17.4,  -8.8],
       [-12.6, -10.2, -17.4,   0. , -13.6],
       [-14.5, -16.9,  -8.8, -13.6,   0. ]])

In [40]:
dist_matrix.index[4]

42

In [5]:
tmp = np.argmin(q_matrix)
index = tmp // n
column = tmp % n

index, column

(2, 3)

In [6]:
range_index = ( dist_matrix[index][column] / 2 
               + (dist_matrix[index].sum() - dist_matrix[column].sum()) / (2 * (n - 2)))
range_column = dist_matrix[index][column] - range_index

range_index, range_column

(1.2000000000000002, 1.7999999999999998)

In [7]:
new_dist_matrix = dist_matrix.drop([index, column], axis=0)
new_dist_matrix = new_dist_matrix.drop([index, column], axis=1)
new_dist_matrix

     0    1    4
0  0.0  1.0  1.5
1  1.0  0.0  1.0
4  1.5  1.0  0.0

In [8]:
free_name = dist_matrix.shape[0]
get_dist = lambda m, f, g, k: (m[f][k] + m[g][k] - m[f][g]) / 2

new_item = pd.Series([get_dist(dist_matrix, index, column, k) for k in new_dist_matrix.index],
                     name=free_name, index = new_dist_matrix.index)
new_item

0    1.0
1    1.7
4    3.0
Name: 5, dtype: float64

In [9]:
new_dist_matrix = new_dist_matrix.append(new_item).T
new_item = new_item.append(pd.Series(0, name=free_name, index=[free_name]))
new_dist_matrix = new_dist_matrix.append(new_item)
free_name += 1

new_dist_matrix

     0    1    4    5
0  0.0  1.0  1.5  1.0
1  1.0  0.0  1.0  1.7
4  1.5  1.0  0.0  3.0
5  1.0  1.7  3.0  0.0

In [71]:
tmp1 = BaseTree.Clade(0.1, 1)
tmp2 = BaseTree.Clade(0.2, 2)

tmpr = BaseTree.Clade(0.3, 3, [tmp1, tmp2])



print(BaseTree.Tree(tmpr, rooted=False))

Tree(rooted=False)
    Clade(branch_length=0.3, name=3)
        Clade(branch_length=0.1, name=1)
        Clade(branch_length=0.2, name=2)

In [68]:
tmp = BaseTree.Clade(0.3, 3)
tmp.clades.append(BaseTree.Clade(0.1, 1))
tmp.clades.append(BaseTree.Clade(0.2, 2))


print(BaseTree.Tree(tmp))

Tree(rooted=True)
    Clade(branch_length=0.3, name=3)
        Clade(branch_length=0.1, name=1)
        Clade(branch_length=0.2, name=2)

In [104]:
nodes = {name: BaseTree.Clade(None, name) for name in dist_matrix.columns}
nodes

{0: Clade(name=0),
 1: Clade(name=1),
 2: Clade(name=2),
 3: Clade(name=3),
 4: Clade(name=4)}

In [105]:
tmp1 = nodes.pop(dist_matrix.columns[index])
tmp2 = nodes.pop(dist_matrix.columns[column])

In [106]:
tmp1, tmp2

(Clade(name=2), Clade(name=3))

In [107]:
tmp1.branch_length = range_index
tmp2.branch_length = range_column

In [108]:

tmp1, tmp2

(Clade(name=2), Clade(name=3))

In [65]:
nodes[free_name] = BaseTree.Clade(None, free_name, [tmp1, tmp2])

print(BaseTree.Tree(nodes[6]))

Tree(rooted=True)
    Clade(name=6)
        Clade(name=2)
        Clade(name=3)

In [20]:
"{}{}".format(str(1), str(2))

'12'

In [75]:
tmp = {1123:1}
list(tmp.values())[0]

1

In [78]:
from treenj.py import TreeNJ

ModuleNotFoundError: No module named 'treenj'